
{% extends "portfolio_app/base.html" %}
{% load static %}
{% block content %}

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <div><img src="{% static 'portfolio_app/pic.jpg' %}" class="title-image rounded-circle" style="width: 400px" alt="picture-mockup"></div>
          <div class="contact-info">
            <h5><i class="far fa-envelope" style="font-size: 1.5rem;"></i> : bryanlin16899@outlook.com</h5>
            <h5><i class="fas fa-phone" style="font-size: 1.4rem;"></i> : 0972-988-302</h5>
          </div>
        </div>

        <div class="col-lg-6">
          <h1 class="big-heading">About Me</h1>
          <p style="color: white;" align="left">熱衷學習新事物，找出問題並尋找解決方案。<br>善於溝通及團隊合作，與同伴一起達成目標感到有成就感。<br>目前專研使用Python後端開發，製作或使用API、Database、Django等等。<br>平常也有自己的嗜好，看書、健身、到處散步。</p>
          <hr size="3">
          <p style="color: white;" align="left">Hey, My name is Brayn Lin, <br><br>Graduate from Chin-Yi University with Electronic Engineering.<br>My parents divorced when I was 10. That time was tough for me, but <br>I knew that would be fine if I kept positive and kept moving.<br><br>When I was a child, I was so interested in assembling desktops and found the solution that I was met, When I solved the problem perfectly, I felt a lot of accomplishment.<br><br>I am interested in learning everything, although my experience isn't comprehensive for now, but I will keep improving my skills and push myself to a higher level.</p>
        </div>

      </div>
      <div class="row justify-content-md-center">

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="blogs">
    <div class="container-fluid">
      <div id="notes-carousel" class="carousel slide" data-ride="false">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <table class="table table-striped table-hover">
              <h1 class="big-heading"> Learning Notes </h1>
              <hr size="3">
              <tbody>
              {% for post in learn_notes %}
                <tr>
                  <th scope="row"><h4>{{ forloop.counter }}.</h4></th>
                  <td><img src="{{ post.image.url }}" width="40"></td>
                  <td><strong>{{ post.title }}</strong></td>
                  <td style="color: gray;">{{ post.description }}</td>
                  <td><a href="{{ post.url }}" target="_blank"><button type="button" class="btn btn-outline-secondary btn-sm visit-button"><i class="fas fa-link"></i> Visit</button></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="carousel-item container-fluid">
            <table class="table table-striped table-hover">
              <h1 class="big-heading"> Study Notes </h1>
              <hr size="3">
              <tbody>
              {% for post in study_notes %}
                <tr>
                  <th scope="row"><h4>{{ forloop.counter }}.</h4></th>
                  <td><strong><i class="fas fa-book"></i> {{ post.title }}</strong></td>
                  <td>{{ post.author }}</td>
                  {% if post.another %}
                  <td style="color: gray;">{{ post.category }}、{{ post.another }}</td>
                  {% else %}
                    <td style="color: gray;">{{ post.category }}</td>
                  {% endif %}
                  <td><a href="{{ post.url }}" target="_blank"><button type="button" class="btn btn-outline-secondary btn-sm visit-button"><i class="fas fa-link"></i> Visit</button></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
        <a class="carousel-control-prev" href="#notes-carousel" role="button" data-slide="prev">
          <span style="font-size: 3em; color: #5c7055;"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#notes-carousel" role="button" data-slide="next">
          <span style="font-size: 3em; color: #5c7055;"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>


  <!-- Resume -->

  <section class="colored-section" id="resume">
    <div class="container-fluid">
      <div class="big-heading">Resume</div>
      <hr size="3">
      <div class="row justify-content-md-center">
        <div class="col-lg-8" id="pdf_viewer"></div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-5" id="download-button">
          <a href="static/portfolio_app/myCV.pdf" download>
            <button class="download-button btn btn-lg btn-block btn-outline-dark" type="button"><i class="fas fa-download"></i> Download CV</button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <h2>Skills</h2>
          <br>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2"><h4>Python</h4></div>
            <div class="col col-lg-6">
              <div class="progress" style="height:12px; margin-top:6px">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2" style="margin-top:20px;"><h4>C</h4></div>
            <div class="col col-lg-6">
              <div class="progress" style="height:12px; margin-top:25px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2" style="margin-top:20px;"><h4>Git</h4></div>
            <div class="col col-lg-6">
              <div class="progress" style="height:12px; margin-top:25px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2" style="margin-top:20px;"><h4>SQLite</h4></div>
            <div class="col col-lg-6">
              <div class="progress" style="height:12px; margin-top:25px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2" style="margin-top:20px;"><h4>MySQL</h4></div>
            <div class="col col-lg-6">
              <div class="progress" style="height:12px; margin-top:25px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 vertical-line">
        </div>
        <div class="col-lg-5">
          <h2>Tools</h2>
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/python-logo.png' %}" width="80">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/c-programming.png' %}" width="80">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/django-logo.png' %}" width="120">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/Flask-logo.png' %}" width="110">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/selenium-logo.png' %}" width="90">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/bootstrap-logo.png' %}" width="130">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/mysql-logo.png' %}" width="120">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/sqlite-logo.png' %}" width="80">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/pandas-logo.png' %}" width="150">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/git-logo.png' %}" width="80">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/pycharm-logo.png' %}" width="80">
            </div>
            <div class="col-lg-4 col-sm-4">
              <img src="{% static 'portfolio_app/skill_logo/tkinter-logo.png' %}" width="90">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}
